{% extends 'base.html.twig' %}

{% block title %}Hello ConcertController!{% endblock %}

{% block body %}


    <br>
    <h1 style="text-align: center">Bands</h1>
    <br>

    <div class="container">

        <div class="row">
            {% for band in bands %}

                <div class="col-3">
                    <div class="card">
                        <img src="{{ band.getPicture }}" class="card-img-top" alt="Not Found">
                        <div class="card-body">
                            <h5 class="card-title">{{ band.getName() }}</h5>
                            <p class="card-text">
                                Kind : {{ band.getKind() }}
                                Years of creation : {{ band.getYearCreation()}}
                            </p>

                            <a href="{{ path('show_band', { 'id': band.getId() }) }}" class="btn btn-dark">More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}


